# Cookiecutter libraries
black
flake8
isort
pip
python-dotenv

# Project libraries
torch
pandas
tqdm
transformers
matplotlib

# APT packages for working on Ubuntu (DTU's HPC)
# sudo apt install nvidia-cuda-toolkit

# Mamba requirements from huggingface
# causal-conv1d>=1.2.0
# mamba-ssm