# Cookiecutter libraries
black
flake8
isort
pip
python-dotenv
-e .

# Project libraries
torch
pandas
tqdm
transformers

# APT packages for working on Ubuntu (DTU's HPC)
# sudo apt install nvidia-cuda-toolkit

# Mamba from huggingface
causal-conv1d>=1.2.0
mamba-ssm